.navbox {
  --radius: 24px;
  padding: 4px;
  margin: 0 auto;
  position: sticky;
  top: 40px;
  z-index: 10;
  background-color: #fff;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  font-size: 14px;
  border: 1px solid #ebebeb;
}

.navlink {
  display: inline-block;
  min-width: 100px;
  padding: 6px 8px;
  border-radius: var(--radius);
  font-weight: 600;
  text-align: center;
  background-color: #fff;
}
